.header{ 
    padding: 10px;
    background-image: url('./header-background.jpg'); 
    background-size: 800px;
}

.title-header{
    color: #fff !important;
    font-size: 20px !important;
    text-align:  center;
    text-transform: uppercase;
}